// bese style
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
}
// ************************************************************************

body {
  background: linear-gradient(to right, #f1c40f, rgba(241, 196, 15, 0.85));
}

.Game {
  width: 40%;
  min-width: 40rem;
  margin: 2rem auto;
  background: linear-gradient(to left, #faf8f9, #f0eff0);
  box-shadow: -0.7rem 0rem 1rem 0.3rem rgba(0, 0, 0, 0.08);
  border-radius: 1rem;

  // ************************************************
  header {
    text-align: center;
    padding: 1rem 2rem;
    border-bottom: 0.2rem solid #000;
    padding-bottom: 2rem;
    background-color: rgba(241, 196, 15, 0.15);

    h1 {
      font-size: 3rem;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }

    .Dice {
      display: flex;
      justify-content: center;

      .die {
        margin: 1rem 2rem;
        width: 5rem;
        height: 5rem;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.08);
        border-radius: 1rem;
        cursor: pointer;

        &.isRolling {
          animation: spin cubic-bezier(0.27, 1.78, 0.38, 0.9) 1s;
        }

        i {
          font-size: 5.5rem;
          color: rgb(255, 0, 0);

          &.locked {
            opacity: 0.4;
          }
        }
      }
    }
    button {
      padding: 0.6rem 2.3rem;
      margin-top: 1.4rem;
      border: none;
      border-radius: 3px;
      background: linear-gradient(to right, #c1e3ff, #abc7ff);
      cursor: pointer;

      &:hover {
        background: linear-gradient(to right, #abc7ff, #c1e3ff);
      }

      &:disabled {
        opacity: 0.7;
      }
    }
  }

  // ************************************************
  .ScoreTable {
    padding: 1rem;

    table {
      width: 100%;

      tbody {
        tr {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.4rem 0.5rem;
          font-size: 1.6rem;

          // &:not(:last-child) {
          border-bottom: 2px solid rgba(0, 0, 0, 0.3);
          // }

          &.tr-disabled {
            cursor: not-allowed;
            position: relative;
            z-index: 1;

            &::after,
            &::before {
              position: absolute;
              content: "";
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              background: linear-gradient(to right, #c5e3fc, #abc7ff, #c5e3fc);
              z-index: -2;
              animation: scoreSaved 1s forwards;
              transform: scaleX(0);
              transform-origin: center;
            }

            &::before {
              animation-duration: 0.4s;
            }
          }

          .notSavedScore {
            color: red;
          }
          .savedScore {
            color: #46be00;
          }
        }
      }
    }

    .total {
      text-align: center;
      font-size: 3rem;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      margin-top: 2rem;
      border-bottom: 4px solid #4784ff;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scoreSaved {
  100% {
    transform: scaleX(1);
  }
}
